fastapi
uvicorn[standard]
python-dotenv
python-dateutil
plotly
pandas
boto3
sentence-transformers
pinecone
langgraph
langchain
tiktoken
litellm
google-generativeai
openai
anthropic
snowflake-connector-python
matplotlib
seaborn
wordcloud
serpapi
mistralai
nltk
google-search-results==2.4.2
snowflake-connector-python
